.logos {
    h3 {
        color: $red-color;
        text-transform: uppercase;
    }
    .logo-box {
        padding: 20px 100px;
    }
}

.feed {
    .feed-box1 {
        background-color: $red-color;
        color: white;
        padding: 2rem 4rem;
        img {
            width: 20rem;
            min-width: 20rem;   
            height: 20rem;
            min-height: 20rem;
            border-radius: 50%;
        }
            .btn {
                width: 10rem;
            }
    }

    .feed-box2 {
        background-color: $green-color;
        color: white;
        padding: 2rem 4rem;
        img {
            width: 20rem;
            min-width: 20rem;   
            height: 20rem;
            min-height: 20rem;
            border-radius: 50%;
        }
        .btn {
            width: 10rem;
        }
    }

    .feed-box3 {
        background-color: $blue-color;
        color: white;
        padding: 2rem 4rem;
        img {
            width: 20rem;
            min-width: 20rem;   
            height: 20rem;
            min-height: 20rem;
            border-radius: 50%;
        }
        .btn {
            width: 10rem;
        }
    }
}