footer {

    background-color: black;
    section {
        ul {
            height: auto;
            width: 50%;
            margin: 0 ;
            padding: 0 1rem;
            text-transform: uppercase;
            border-top: solid rgba(226,226,226,0.2) 1px;
            border-bottom: solid rgba(226,226,226,0.2) 1px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            li {
                margin: 0 1rem;
            }
            li :hover { 
                color: white;
            }
            a {
                color: white;
            }
        }
        .logo-footer {
            padding: 2rem;
            border: solid white;
            border-radius: 50%;
        }
        img {
            width: 5rem;
        }
    }
    section {
        text-transform: uppercase;
        color: white;
        .footer-box {
            width: 30rem;
            padding: 0 2rem;
            p {
                font-size: 0.8rem;
            }
        }
    }

    .copyright {
        background-color: #000000;
        background-image: linear-gradient(180deg, #000000 0%, #414141 74%);
        div {
            font-size: 1.5rem;
            padding: 1rem 2rem;
            .fab,
            .fas {
                margin: 0 1rem;
                color: white;
            }
        }
        p {
            padding: 1rem 2rem;
            margin: 0;
            font-size: small;
        }
    }
}

@media all and (max-width: 1023px) and (min-width: 768px) {
    footer {
        section {
            ul {
                justify-content: center;
                li {
                    font-size: small;
                }
            }
            img {
                width: 3rem;
            }    
        }
        .footer-main {
            .footer-box {
                h4 {
                    font-size: large;
                }
                p {
                    font-size: 10px;
                }
            }
            .copyright {
                background-color: #000000;
                background-image: linear-gradient(180deg, #000000 0%, #414141 74%);
                div {
                    font-size: 1.5rem;
                    padding: 1rem 2rem;
                    .fab,
                    .fas {
                        margin: 0 1rem;
                        color: white;
                    }
                }
                p {
                    padding: 1rem 2rem;
                    margin: 0;
                    font-size: small;
                }
            } 
        }
    }
}

@media all and (max-width: 767px) {
    footer {
        section {
            ul {
                justify-content: center;
                padding: 0;
                li {
                    font-size: small;
                }
            }
            img {
                width: 3rem;
            }     
        }
        .footer-main {
            flex-wrap: wrap;
            .footer-box {
                h4 {
                    font-size: large;
                }
                p {
                    font-size: 10px;
                }
            }
        }    
        .copyright {
            background-color: #000000;
            background-image: linear-gradient(180deg, #000000 0%, #414141 74%);
            div {
                font-size: 1.5rem;
                padding: 1rem 2rem;
                .fab,
                .fas {
                    margin: 0 1rem;
                    color: white;
                }
            }
            p {
                padding: 1rem 2rem;
                margin: 0;
                font-size: small;
            }
        } 
    }
}

