nav {
  min-height: 6rem;
  background-color: $red-color;
  padding: 0 5rem;
  text-transform: uppercase;
  .nav-logo {
    width: 15rem;
  }
  .nav-links {
    a {
      color: white;
      margin: 5px 0 5px 50px;
    }
  }
  .nav-links :hover {
    text-decoration: none;
    color: white;
  }
}
.header-box {
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/startup2.jpg);
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  form {
    background-color:rgba(226,226,226,0.5);
    padding: 3rem;
    border-radius: 25px;
    border: 1px solid;
    div {
      .form-control {
        width: 45rem;
      }
      .btn {
        background-color: $red-color;
      }
    }
  }
}

@media all and (max-width: 1023px) and (min-width: 768px) {
  span {
      display: none;
    }

}

@media all and (max-width: 767px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0;
    .nav-logo {
      width: 10em;
    }
    .nav-links {
      margin: 0;
      padding: 1rem 0;  
      a {
        padding: 0 1rem;
        margin: 0;
        span {
          display: none;
        }
      }
    }
  } 
}

