.prueba {
    padding: 0 2rem;
    width: 80%;
    margin: auto;
    box-shadow: $box-shadow;
    .facebook {
        width: 20rem;
        display: block;
        margin: 1rem auto;
    }
    div {
        ul {
            margin: 0 0.2rem;
            padding: 0.5rem 1rem 0 1rem;
            span {
                color: blue;
            }
            li {
               border: solid 1px black;
               margin: 0.5rem 0;
               padding: 0.5rem 0;
               width: 35vw;
            }
        }
    }
}

.info {
    width: 80%;
    margin: 2rem auto;
}

.details {
    width: 80%;
    margin: 2rem auto;
    background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    padding: 1rem 2rem;
    font-family: $arial;
    box-shadow: $box-shadow;
}

@media all and (max-width: 1023px) and (min-width: 768px) {
    .prueba {
        .facebook {
            width: 10rem;
        }
        div {
            ul {
                margin: 0 0.2rem;
                padding: 0.5rem 0 0 0;
            }
        }
    }
}

@media all and (max-width: 767px) {
    .prueba {
        .facebook {
            width: 10rem;
        }
        div {
            ul {
                margin: 0 0.2rem;
                padding: 0 10rem;

                li {
                   padding: 0.5rem;
                }
            }
        }
    }
}