
$red-color: #f54f4ffd;
$green-color: #2ea17f;
$blue-color: #2b79c2;
$gray-light: #d3d3d3;
$font-style: 'Cabin', sans-serif;
$arial: arial, helvetica, sans-serif;
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
