
$red-color: #f14b27;
$green-color: #14c897;
$blue-color: #3aa0ff;
$gray-light: #D3D3D3;
$font-style: 'Ubuntu', sans-serif;
$arial: Arial, Helvetica, sans-serif;
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);